.main-header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.title-main {
   display: flex;
   justify-content: center;
    width: 50%;
    padding-top: 10px;
    padding-left: 20px;
    
}
.anchor-green {
    align-self: center;
    font-size: 30px;
    text-decoration: none;
    color: darkslategrey;
}
.anchor {
    align-self: center;
    font-size: 18px;
    text-decoration: none;
    color: darkslategrey;
}
.navigation {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2vh;
    padding-top: 10px;
}
.donate-today {
    display: flex;
    justify-content: center;
    padding-top: 10px;
   
}
.donate-today-button {
    align-self: center;
    background-color: aquamarine;
    border: none;
    border-radius: 40px 40px 40px 40px;
    padding: 2vh 30vw 2vh 30vw;
}
.stop-climate-change {
    background-size: 100% 1020px;
}
.text-discription {
    padding-left: 5vh;
    padding-top: 25vw;
}
.climate-report {
    width: 80%;
    height: 30%;
    margin-top: 25vh;
    margin-left: 10vw;
} 
.issue-button {
    padding: 15px 25px 15px 25px;
    margin: -30vh 0vw 0vh 22vw;
}
.action-button {
    background-color: rgb(11, 11, 48);
    color: white;
    font-size: 15px;  
    padding: 10px 25px 15px 25px; 
    margin: 5vh 0vw 0vh 32vw;
}
.read-more-text {
    padding: 5vh 25vw 5vh 18vw;
    text-align: center;
    font-size: 10px;
}
.section {
    margin-top: -3vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}
.section-top {
    width: 90%;
    height: 20vh;
    padding: 5vh 0vw 0vh 5vw;
    display: flex;
}
.section-end {
    width: 90%;
    height: 20vh;
    padding: 0vh 0vw 0vh 5vw;
    display: flex;
}
.section-text {
    padding: 0px 15px 0px 0px;
}
.training-section {
    width: 100%;
    background-color: rgba(35, 42, 80, 0.939);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}
.environmental-life {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question-button {
    color: rgba(35, 42, 80, 0.939);
    padding: 2vh 5vw 2vh 5vw;
    margin-top: 3vh;;
    font-size: 1rem;
}
.mission-discription {
    padding: 1vh 10vw 0vh 10vw;
    font-size: 3vh;
    color: white;
    text-align: center;
}
.plantation, .education, .advocacy {
    width: 80%;
    margin-top: 10vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.planting-image, .education-image, .advocacy-image {
    width: 80%;
    height: 30vh;
    align-self: center;
    margin-top: -5vh;
}
.title {
    font-size: 2vh;
    margin-top: 4vh;
    text-align: center;
}
.lorem-discription {
    margin-top: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}
.read-more-button {
    font-size: 1rem;
    align-self: center;
    background-color: rgba(104, 221, 182, 0.889);
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 2vh 20vw 2vh 20vw;
    border: 2px solid white;
    border-radius: 60px 60px 60px 60px;
}
.poverty-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('./assets/home/did-you-know-background.png');
    background-repeat: no-repeat;
    background-size: 250% 150rem;
    background-position-y: -50rem;
    padding-bottom: 5vh;
}
.poverty-title-part {
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: center;
}
.poverty-title {
    font-family: "flood std";
    color: white;
    font-size: 3rem;
    padding: 10vh 0vw 0vh 5vw;
}
.action-button-title {
    width: 70%;
    display: flex;
    justify-content: center;
}
.action-today-button {
    font-size: 1rem ;
    background-color: aquamarine;
    border: none;
    border-radius: 100px 100px 100px 100px;
    padding: 2vh 5vw 2vh 5vw;
}
.emty {
    display: flex;
    height: 5rem;
}
.did-you-know-button {
    margin-top: 5rem;
    margin-left: 16vw;
    background-color: rgb(29, 29, 63);
    color: white;
}
.survival-report {
   width: 70%;
   align-self: center;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.agriculture-survival {
   background-color: white;
   display: flex;
}
.climate-change-survival {
    background-color: white;
    display: flex;
}
.high-crop-losses-survival {
    background-color: white;
    display: flex;
}
.food-shortages-survival {
    background-color: white;
    display: flex;
}
.survival-images {
    width: 30%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.survival-discription {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 2vh;
}
.survival-people {
    margin-left: -22vh;
}
.count-of survival {
    margin-left: -5vw;
}
.social-image-background {
    width: 100%;
    padding: 10px;
    background-color: aquamarine;
    border: none;
    border-radius: 100%;
}
.stories-section {
    background-color: white;
    background-size: 100%;
    height: 1350px;
}
.stories-frame {
    align-self: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding-left: 15vw;
}
.stories {
    align-self: flex-end;
    background-color: rgb(37, 37, 67);
    color: white;
    padding: 2vh 10vw 2vh 10vw;
    margin: -3vh 0vw 0vh 20vw ;
}
.story-image {
    background-image: url("./assets/home/lady-baby@2x.png");
    background-repeat: no-repeat;
    background-size: 100% 70vh;
    align-self: center;
    width: 100%;
    height: 70vh;
    margin: 8vh;
}
.story-discription {
    margin-top: 70vh;
}
.person-statement {
    align-self: flex-end;
    font-size: 2rem;
    width: 100%;
    height: 50vh;
    background-color: rgb(36, 44, 85);
    color: white;
}
.story-read-more-button {
    background-color: aquamarine;
    border: none;
    border-radius: 40px 40px 40px 40px;
    padding: 2vh 10vw 2vh 10vw;
    font-size: 2rem;
    margin-top: 2vh;
}
.future-alert-section {
    background-color: rgb(21, 39, 67);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.take-action-for-future {
    color: white;
    font-family: "flood std";
    font-size: 3rem;
    padding: 0vh 5vw 0vh 5vw;
    text-align: center;
}
.environment-event {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}
.environment-image {
    width: 100%;
    height: 50vh;
    background-image: url("./assets/home/tree-planting@2x.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.event-title {
    width: 50%;
    padding: 3vh 5vw 3vh 5vw;
    align-self: center;
    margin-top: -6vh;
}
.planting-event {
    text-align: center;
    padding-top: -10vh;
    color: white;
}
.plant-read-more {
    background-color: aquamarine;
    padding: 3vh 15vw 3vh 15vw;
    border: none;
    border-radius: 40px 40px 40px 40px;
    margin-bottom: 2vh;
    font-size: 1rem;
}
.subscribe-section {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}
.subscribe-discription {
    padding: 2vh 3vw 2vh 3vw;
    font-size: 2rem;
}
.input-buttons {
    display: flex;
    padding-bottom: 3vh;
    gap: 3vw;
}
input {
    width: 40%;
    align-self: flex-start;
    font-size: 1rem;
    border: none;
    border-radius: 50px 50px 50px 50px;
    padding: 3vh 5vw 3vh 5vw;
    margin-left: 2vw;
}
.subscribe-button {
    width: 40%;
    align-self: flex-end;
    background-color: rgb(35, 47, 84);
    color: aquamarine;
    border: none;
    border-radius: 50px 50px 50px 50px;
    padding: 3vh 10vw 3vh 10vw;
}
.information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contact-title, .contact-address, .contact-social-media, .extra-contact-information{
    width: 40%;
}
.contact-address {
    padding-top: 3vh;
}
.final-text {
    align-self: flex-end;
    padding-right: 6vw;
    font-family: "flood std";
    font-size: 3rem;
}
@media (min-width:720px)and (max-width:1024px) {
    header {
        display: flex;
        justify-content: center;
    }
    .head {
        flex-direction: column;
        flex-wrap: wrap;
        height: 15vh;
    }
    .title-main {
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    .navigation {
        width: 100%;
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        gap: 8rem;
        padding-left: 4rem ;
        font-size: 2vw;
    }
    .donate-today{
        width: 30%;
        padding: 3rem 0rem 0rem 2rem;
    }
    .donate-today-button {
        padding: 10px 25px 10px 25px;
        margin-left: 2rem;
    }
    .stop-climate-change {
        background-size: 100% 1350px;
    }
    .text-discription {
        padding-left: 5vh;
        padding-top: 25vw;
    }
    .climate-report {
        width: 90%;
        height: 30vh;
        margin: 25vh 5vw 0vh 5vw;
    } 
    .issue-button {
        padding: 15px 30px 15px 30px;
        margin: -30vh 0vw 0vh 10vw;
    }
    .action-button {
        background-color: rgb(11, 11, 48);
        color: white;
        font-size: 15px;  
        padding: 15px 30px 15px 30px; 
        margin: 5vh 0vw 0vh 35vw;
    }
    .developing-nation-text {
        font-size: 2rem;
        padding: 5vh 30vw 0vh 10vw;
        line-height: 4vh;
        text-align: start;
        margin-top: -3vh;
    }
    .read-more-text {
        font-size: 20px;
        padding: 5vh 25vw 0vh 7vw;
        text-align: center;
    }
    .section {
        margin-top: -2vh;
    }
    .section-text {
        font-size: 30px;
        text-align: start;
        padding: 0vh 12vw 0vh 0vw;
    }
    .question-button {
        color: rgba(35, 42, 80, 0.939);
        padding: 2vh 8vw 2vh 8vw;
        margin: 3vh 0vw 0vh -22rem;
        font-size: 2rem;
    }
    .mission-discription {
        padding: 1vh 13vw 0vh 12vw;
        font-size: 3rem;
        color: white;
        text-align: start;
    }
    .plantation, .education, .advocacy {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .plantation-discription,.education-discription, .advocacy-discriptiom {
        align-self: center;
        grid-area: 1/2/3/3;
        display: flex;
        flex-direction: column;
    }
    .poverty-section {
        background-position-y: 0vh;
        background-size: 100% 100vh;
        flex-direction: row;
    }
    .poverty-title {
        margin-top: -4vh;
        margin-left: 2rem;
    }
    .action-button-title {
        width: 70%;
        display: block;
        justify-content: center;
    }
    .action-today-button {
        margin: 25rem  0rem 0rem -15rem;
    }
    .survival-report {
        width: 100%;
        margin-right: 5rem;
    }
    .survival-images {
        margin-left: -5vh;
    }
    .agriculture-survival,.climate-change-survival,.high-crop-losses-survival,.food-shortages-survival {
        gap: 10vw;
    }
    .did-you-know-button {
        width: 90%;
        height: 5vh;
        padding: 3vh -10vw 3vh -10vw;
    }
    .person-statement {
        width: 100%;
        height: 25vh;
        margin: -18vh 0vw 0vh 10vw;
        text-align: center;
    }
    .story-read-more-button {
        margin-left: 6vh;
    }
    .first-environment-event {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .first-event-image {
        grid-area: 1/1/4/3;
    }
    .plant-read-more {
        grid-area: 3/3/4/4;
    }
    .meeting-image {
        background-image: url(./assets/home/meeting@2x.png);
        grid-area: 1/2/4/4;
    }
    .plant-event-discription {
        grid-area: 2/3/3/4;
    }
    .second-environment-event {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .plant-event {
        grid-area: 2/1/3/2;
    }
    .plantation-read {
        grid-area: 3/1/4/2;
    }
    .latest-news-title {
        margin-left: -50rem;
        margin-top: 2rem;
    }
    .plant-event-title {
        margin-left: 50rem;
        margin-top: 2rem;
    }
    .subscription-info {
        padding: 2rem 20rem 2rem 2rem;
    }
    .information-section {
        align-items: start;
    }
    .contact-info {
        flex-wrap: nowrap;
        padding-left: 20vw;
        gap: 2vh;
    }
    .extra-contact-information {
        margin-top: 15vh;
        margin-left: -35vw;
    }
    .final-statement {
        align-self: center;
        margin: -13vh -30vw 0vh 30vw;
    }
}
@media (min-width:1025px) {
    .main-header {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        padding-top: 2vh;
    }
    .title-main {
       display: flex;
       justify-content: center;
        width: 40%;
        padding-top: 10px;
        padding-left: 20px;
        
    }
    .navigation {
        display: flex;
        flex-direction: row;
        width: 40%;
        gap: 8vh;
        padding-top: 10px;
    }
    .donate-today {
        width: 30%;
        display: flex;
        justify-content: center;
        padding-top: 10px;
       
    }
    .donate-today-button {
        
        padding: 2vh 7vw 2vh 7vw;
    }
    .stop-climate-change {
        background-size: 100% 1130px;
        padding-bottom: 18vh;
    }
    .text-discription {
        padding-left: 60vw;
        padding-top: 10vh;
        font-size: 6rem;
    }
    .climate-report {
        width: 30%;
        height: 20rem;
        margin: -34vh 0vw 0vh 13vw;
    } 
    .issue-button {
        padding: 15px 30px 15px 30px;
        margin: -30vh 0vw 0vh 7vw;
    }
    .action-button {
        background-color: rgb(11, 11, 48);
        color: white;
        font-size: 15px;  
        padding: 15px 30px 15px 30px; 
        margin: 45vh 0vw 0vh 45vw;
    }
    .developing-nation-text {
        font-size: 1rem;
        padding: 5vh 10vw 0vh 7vw;
        line-height: 3vh;
        text-align: start;
        margin-top: -3vh;
    }
    .section {
        display: flex;
        flex-direction: row;
        margin-top: -20vh;
        padding-top: 4vh;
    }
    .section-top {
        padding: 0vh 0vw 0vh 5vw;;
    }
    .read-more-text {
        font-size: 15px;
        padding: 5vh 13vw 0vh 7vw;
        margin-top: -5vh;
    }
    .environmental-life {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0vh 9vw 0vh 9vw;
    }
    .what-button {
        width: 20%;
        align-self: flex-start;
        padding-left: 12rem;
    }
    .question-button {
        padding: 2vh 3vw 2vh 3vw;
    }
    .mission-complete {
        align-self: flex-start;
        width: 80%;
    }
    .mission-discription {
        font-size: 70px;
        padding: 0vh 0vw 0vh 8vw;
    }
    .lorem-discription {
        padding: 0px 0px 0px 0px    ;
    }
    .read-more-button {
        padding: 0px 0px 0px 0px;
    }
    .poverty-section {
        width: 100%;
        height: 100vh;
        background-image: url('./assets/home/did-you-know-background.png');
        background-repeat: no-repeat;
        background-size: 100% 120vh;
        background-position-y: 0vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: space-around;
    }
    .poverty-title-part {
        grid-area: 1/1/2/2;
        width: 100%;
        height: 20vh;
        display: block;
        /* margin-left: -25px; */
    }
    .poverty-title {
        font-family: "flood std";
        color: white;
        font-size: 6rem;
        padding: 100px 0px 0px 0px;
        
    }
    .action-button-title {
        width: 50%;
        display: block;
    }
    .action-today-button {
        font-size:  20px;
        background-color: aquamarine;
        border: none;
        border-radius: 60px 60px 60px 60px;
        padding: 1vh 5vw 1vh 5vw;
        margin-top: 220px;

    }
    .emty {
        height: 2vh;
    }
    .did-you-know-button {
        margin-top: 1vh;
        margin-left: 16vw;
        background-color: rgb(29, 29, 63);
        color: white;
        margin-top: 5rem;
        margin-right: 5rem;
    }
    .survival-report {
        grid-area: 1/2/4/3;
       width: 100%;
       gap: 5rem;
       margin-top: -10rem;
    }
    .agriculture-survival {
        height: 10rem;
    }
    .food-shortages-survival {
        height: 10rem;
    }
    .climate-change-survival {
        height: 10rem;
    }
    .high-crop-losses-survival {
        height: 10rem;
    }
    .stories{
        margin-left: 0vw;
    }
    .stories-section {
        height: 1200px;
    }
    .story-image {
        width: 50%;
        margin: 8vh 0vw 0vh 20vw;
    }
    .person-statement {
        width: 65%;
        background-color: rgb(36, 44, 85);
        color: white;
        margin: -65vh 0vw 0vh -20vw;
    }
    .story-read-more-button {
        margin-top: 16vh;
    }
    .first-environment-event {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .first-event-image {
        grid-area: 1/1/4/3;
    }
    .plant-read-more {
        grid-area: 3/3/4/4;
    }
    .meeting-image {
        background-image: url(./assets/home/meeting@2x.png);
        grid-area: 1/2/4/4;
    }
    .plant-event-discription {
        grid-area: 2/3/3/4;
    }
    .second-environment-event {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .plant-event {
        grid-area: 2/1/3/2;
    }
    .plantation-read {
        grid-area: 3/1/4/2;
    }
    .latest-news-title {
        grid-area: 1/2/3/4;
        width: 30%;
        margin-left: -98rem;
        margin-top: 2rem;
    }
    .plant-event-title {
        grid-area: 1/1/2/2;
        width: 20%;
        margin-left: 90rem;
        margin-top: 2rem;
    }
    input {
        padding-right:7vw ;
        text-align: start;
    }
    .subscribe-section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .information-section {
        flex-direction: row;
        /* gap: 10vw; */
    }
    .contact-info {
        width: 90%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-left: 3vw;
    }
    .subscribe-discription {
        width: 50%;
    }
    input {
        margin-left: 0px;
    }
    .subscribe-button {
        padding: 2vh 5vw 2vh 5vw;
    }
    .contact-info {
        font-size: 3rem;
    }
    .contact-address {
        font-size: 2rem;
    }
    .contact-social-media{
        font-size: 2rem;
    }
    .extra-contact-information {
        font-size: 2rem;
    }
    .final-statement {
        width: 30%;
    }
    .final-text {
        font-size: 5rem;
    }

}

