body {
    margin: 0rem;
    padding: 0rem;
}
.stop-climate-change {
    background-image: url('assets/home/annie-spratt-135307-unsplash.png');
    background-repeat: no-repeat;
}
.text-discription {
    font-family: "flood std";
    font-size: 4rem;
    color: white;
}
.climate-report {
    background-color: white;
} 
.issue-button {
    background-color: rgb(11, 11, 48);
    color: white;
    font-size: 20px;
}
.action-button {
    background-color: rgb(11, 11, 48);
    color: white;
    font-size: 15px;  
}
.developing-nation-text {
    font-size: 1rem;
    padding: 5vh 5vw 0vh 15vw;
    margin-top: -3vh;
    text-align: center;
}
.read-more-text {
    text-decoration-line: underline;
} */
.section {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}
.section-learn {
    width: 50%;
    height: 30vh;
}
.section-volunteer {
    width: 50%;
    height: 20vh;
}
.section-share {
    width: 50%;
    height: 25vh;
}
.section-donate {
    width: 50%;
    height: 25vh;
} 
.section-text {
    font-size: 16px;
}

